* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;

  background-image: url('image/pinkish.jpg');
  background-color: white;
  /* background-size: cover;
  color: white;
  /* max-width: 1600px; */
  margin-left: auto;
  margin-right: auto;
}

:target::before {
  content: '';
  display: block;
  height: 60px; /* fixed header height*/
  margin: -100px 0 0; /* negative fixed header height */
}

h2 {
  text-align: center;
  padding-bottom: 15px;
}

/*  NAVBAR STYLING */
.navbar {
  font-size: 18px;
  color: rba(141, 148, 64);
  background-color: rgba(183, 110, 121);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;

  position: fixed;
  top: 0;
  width: 100%;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.active {
  display: block;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255);
}

.nav-links:hover {
  color: rgb(28, 129, 95);
  font-weight: bold;
  font-size: 1.2em;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}
.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

/* HEADER HOME PAGE CONTENT */
.header-container {
  /* background-image: url(/image/pinkish.jpg);
  background-size: cover; */
  height: 100vh;

  display: flex;
}

.header-content {
  border: 5px;
  padding: 20px;

  margin: auto;
  text-align: center;
  align-content: center;
  color: white;
  border-radius: 2%;
  background-color: rgba(183, 110, 121, 1);
}

.header-content a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 5px;
}

.header-content a:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(28, 129, 95);
  font-size: 18px;
  padding: 5px;
  font-size: 30px;
  margin: 5px;
}

.header-img {
  width: 100px;
  padding-top: 7px;
  max-width: 100%;
  max-height: 30%;
  border-radius: 10%;
}

/* ---------CONTENT MARGIN AND STYLING------  */
.content-wrapper {
  padding: 5px;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

/* ---------ABOUT ME--------------  */
.about {
  margin-bottom: 100px;
  margin-top: 20px;
  padding: 60px 20px 20px 20px;
  background-color: rgba(183, 110, 121, 0.9);
  border-radius: 2%;
}
/* .about:hover {
  background-color: rgb(28, 129, 95);
} */

/*  PROJECTS CONTAINER */
.projects-container {
  margin-bottom: 100px;
  margin-top: 20px;
  padding: 60px 20px 20px 20px;
  background-color: rgba(183, 110, 121, 0.9);
  border-radius: 2%;
}

.projects-container header {
  font-size: 25px;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 20px;
  border: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;

  /* flex: 100%;
  max-width: 100%;
  border-top: solid blanchedalmond 0.3px;
  border-radius: 2%;
  padding: 10px;
  justify-content: space-evenly; */
}

.column:hover {
  background-color: rgb(28, 129, 95, 0.9);
}

.column img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-height: 400px;
  padding-bottom: 5px;
  /* max-height: 400px;
  max-width: 400px;
  min-height: 400px;
  min-width: 400px */

  /* vertical-align: middle;
  max-height: 300px;
  min-height: 300px;
  min-width: 100%;

  margin: auto;
  padding: 20px; */
}

/* FORM  styling     */
.contact-section {
  margin-bottom: 100px;
  margin-top: 20px;
  padding: 60px 20px 20px 20px;
  background-color: rgba(183, 110, 121, 0.9);
  border-radius: 2%;
}

input[type='text'],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 2%;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type='submit'] {
  background-color: rgb(28, 129, 95);
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 2%;
  cursor: pointer;
  margin-right: 5px;
}
input[type='reset'] {
  background-color: rgb(28, 129, 95);
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 2%;
  cursor: pointer;
  margin-left: 5px;
}

input[type='submit']:hover {
  color: blanchedalmond;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type='reset']:hover {
  color: blanchedalmond;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  border-radius: 2%;
  background-color: #f2f2f2;
  padding: 20px;
}

/* FOOTER STYLING */
footer {
  background-color: rgba(183, 110, 121, 0.9);
  text-align: center;
}

/* TABLET WIDTH RESPONSIVE SIZE */
@media (min-width: 440px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* MEDIA SCREEN MIN OF 768 - DESKTOP  THIS LARGER CUZ PHOTOS, I NEED OT FIX*/
@media screen and (min-width: 768px) {
  .content-wrapper {
    margin: auto;
    padding: 5px 100px 5px 100px;
  }

  .navbar {
    display: flex;

    justify-content: space-between;
    padding-bottom: 0px;
    height: 70px;
    align-items: center;
    max-width: 1600px;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: white;
  }

  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* 
@media (min-width: 1024px){
 
...
 
} */

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
/*  
@media only screen
 
and (min-device-width: 375px)
 
and (max-device-width: 667px)
 
and (-webkit-min-device-pixel-ratio: 2)
 
and (orientation: portrait) {
 
}
 
/* Landscape */
/*  
@media only screen
 
and (min-device-width: 375px)
 
and (max-device-width: 667px)
 
and (-webkit-min-device-pixel-ratio: 2)
 
and (orientation: landscape) {
 
}
 
/* ----------- Google Pixel ----------- */

/* Portrait */

/* @media screen
 
and (device-width: 360px)
 
and (device-height: 640px)
 
and (-webkit-device-pixel-ratio: 3)
 
and (orientation: portrait) {
 
}
  */
/* Landscape */
/*  
@media screen
 
and (device-width: 360px)
 
and (device-height: 640px)
 
and (-webkit-device-pixel-ratio: 3)
 
and (orientation: landscape) {
 
}  */
